<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">
    <title>The Weather App</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="errors">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div id="log-reg">
          <h1>Registration</h1>
          <form action="/register" method="POST">
            {% csrf_token %}
              <div class="col-sm-3"
                <label for="first_name"></label>
                <input type="text" name="first_name"  class="form-control" placeholder="First Name">
              </div> 
              <div class="col-sm-3">
                <label for="last_name"></label>
                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
              </div>
              <div class="col-sm-3">
                <label for="email"></label>
                <input type="text" name="email" class="form-control" placeholder="Email">
              </div>
              <div class="col-sm-3">
                <label for="password"></label>
                <input type="password" name="password" class="form-control" placeholder="Password">
              </div>
              <div class="col-sm-3">
                <label for="confirm_pw"></label>
                <input type="password" name="confirm_pw" class="form-control" placeholder="Confirm Password">
              </div>
              <button class="btn btn-outline-primary btn-lg">Register</button>
          </form>
          
        </div>
      </div>

      <div class="section">
        <h1>Login</h1>
        <form action="/login" method="POST">
          {% csrf_token %}
          <div class="col-sm-3">
            <label for="email"></label>
            <input type="text" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="col-sm-3">
            <label for="password"></label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button class="btn btn-outline-success btn-lg">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
